.footer{
    background-color: #0984e3;    
}
.blink {
    animation: blinker 1s linear infinite;
    color: red;
    font-family: sans-serif;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}